.name_selection_choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    width: auto;
    padding: 2px 5px;
	width:120px;
}
.name_selection_choice_remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}
.inovicedeatil .select2-container {
	max-width:335px !important;
}
.formcol.formcolfull {
	float: left;
    width: 100%;
    margin-right: 0%;
}
.receiptvouchernumber {
	display:none;
}
.advancecol {
	display:none;
}
.ecommerceinformation {
	display:none;
}
.rvcamount {
	display:none;
}
.tdsamount {
	display:none;
}
.tcsamount {
	display:none;
}
.exportmation {
	display:none;
}
.ui-autocomplete {
    z-index: 2147483647 !important;
    max-width: 350px !important;
	max-height: 350px !important;
	overflow-y: scroll !important;
	overflow-x: hidden !important;
}
.invoice-box{
	margin:auto;
	padding:10px;
	border:1px solid #eee;
	font-size:16px;
	line-height:24px;
	color:#555;
}
.invoice-box table{
	width:100%;
	line-height:inherit;
	text-align:left;
}
.invoice-box table td{
	padding:5px;
	vertical-align:top;
}
.invoice-box table tr td:nth-child(2){
	text-align:right;
}
.invoice-box table tr.top table td{
	padding-bottom:20px;
}
.invoice-box table tr.top table td.title{
	font-size:45px;
	line-height:45px;
	color:#333;
}
.invoice-box table tr.information table td{
	padding-bottom:40px;
}
.invoice-box table tr.heading td{
	background:#eee;
	border-bottom:1px solid #ddd;
	font-weight:bold;
}
.invoice-box table tr.details td{
	padding-bottom:20px;
}
.invoice-box table tr.item td{
	border-bottom:1px solid #eee;
}
.invoice-box table tr.item.last td{
	border-bottom:none;
}
.invoice-box table tr.total td{
	border-top:2px solid #eee;
	font-weight:bold;
	vertical-align:top;
	text-align:right;
}
.view-invoice-table, .view-invoice-table tr, .view-invoice-table tr td {
	font-size:14px;
}
table.dataTable tbody tr.even {
	background-color: #efefef;
}
#add-item-success {
	display:none;
}
#add-item-error {
	display:none;
}
.left-submenu {
	background: #e5e5e5;
	width: 100%;
}
.left-submenu li {
	padding: 0px !important;
}
#sidebar > .nav > li > ul.left-submenu li a {
	padding: 10px 10px 10px 25px !important;
	font-size: 14px;
	color: #333333;
	background: #e5e5e5;
}
.checkAll {
	margin-right:5px;
}
#loading {background:#000000;opacity:0.2;width:100%;height:100%;top:0px;left:0px;position:fixed;display:block;z-index:99;display:none;}
#loading-image {position:absolute;top:25%;left:25%;z-index:100;}