#tabs {
	text-align:center;
}

#tabs ul.tabinner {
	display:inline-block;
}

.columns {
	float: left;
	width: 23%;
	padding: 1%;
}

.price {
	list-style-type: none;
	border: 1px solid #eee;
	margin: 0;
	padding: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.price:hover {
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
	background-color: #111;
	color: white;
	font-size: 25px;
}

.price li {
	border-bottom: 1px solid #eee;
	padding: 20px;
	text-align: center;
}

.price .grey {
	background-color: #eee;
	font-size: 20px;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white !important;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
}

.name_selection_choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    width: auto;
    padding: 2px 5px;
	width:120px;
}
.name_selection_choice_remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}
.errorValidationContainer {
	display:none;
}
.inovicedeatil .select2-container {
	max-width:335px !important;
}
.formcol.formcolfull {
	float: left;
    width: 100%;
    margin-right: 0%;
}
.receiptvouchernumber {
	display:none;
}
.advancecol {
	display:none;
}
.ecommerceinformation {
	display:none;
}
.rvcamount {
	display:none;
}
.tdsamount {
	display:none;
}
.tcsamount {
	display:none;
}

@media only screen and (max-width: 600px) {
	.columns {
		width: 100%;
	}
}