@font-face {
	font-family: open_sans;
	src: url(../fonts/OpenSans.eot);
	src: url(../fonts/OpenSans.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSans.woff) format('woff'), url(../fonts/OpenSans.ttf) format('truetype'), url(../fonts/OpenSans.svg) format('svg');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: opensans_light;
	src: url(../fonts/OpenSans-Light.eot);
	src: url(../fonts/OpenSans-Light.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSans-Light.woff) format('woff'), url(../fonts/OpenSans-Light.ttf) format('truetype'), url(../fonts/OpenSans-Light.svg) format('svg');
	font-weight: 400;
	font-style: normal
}



@font-face {
	font-family: opensans_bold;
	src: url(../fonts/OpenSans-Bold.eot);
	src: url(../fonts/OpenSans-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSans-Bold.woff) format('woff'), url(../fonts/OpenSans-Bold.ttf) format('truetype'), url(../fonts/OpenSans-Bold.svg) format('svg');
	font-weight: 400;
	font-style: normal
}

/*---------COMMON CSS START HERE------------------------------------*/

a,a img,img{border:none}body,html{overflow-x:hidden;background-color:#FFF; color:#756f6f;}img{max-width:100%}ol,ul{list-style:none}a label{cursor:pointer}body,html{margin:0;padding:0;color:#756f6f;font-size:14px;font-family: open_sans;}
a,a img{outline:0}
.pull-right{float:right;}
input, select, textarea { font-family: open_sans;}
.inputtxt { font-weight:normal; color:#666; font-size:13px;}
.tc { text-align:center;}
.tl { text-align:left;}
.tr { text-align:right;}
.fl { float:left;}
.fr { float:right;}
.padleft0 { padding-left:0px !important;} 
.pad40 { padding:40px;}
.marleft15 { margin-left:15px;}
p, ul { margin:0px; padding:0px;}
.shadow {box-shadow:0 0 7px #dbdbdb; }
.padlr0 { padding-left:0px; padding-right:0px;}
.whitebg { background:#FFF;}
.btnorange, .iconlist li a:hover { background:#e44a16; color:#FFF;}
.btnorange:hover {color:#FFF; opacity:0.9; }
.greenbg { background:#39b969;}
.darkgrey { background:#39b969;}
.btnsmall { font-size:13px; color:#FFF;}

.btngrey { background:#f0f0f0;}
.clear{clear:both;}
.height10{height:10px;}.height20{height:20px;}.height30{height:30px;}.height40{height:40px;}.height50{height:50px;}.height100 { height:100px;}
input[type='submit'] {text-transform:capitalize;}


.animation:after {
	opacity: .5;
	-moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	transform: translateY(-50%) translateX(-50%) rotate(90deg);}
.animation:hover:after {opacity: 1;height: 600% !important;}

.wrapper, .row {  margin-left:0; margin-right:0;}
.wrapper:before, .wrapper:after,
.column:before, .column:after {content: ""; display: table;}
.wrapper:after, .column:after {clear: both;}
.whitebg { background:#FFF;}
#sidebar {background: #ffffff; padding-left: 0; float: left; min-height: 100%; position:fixed;}
#sidebar .collapse.in { display: inline;}
#sidebar > .nav>li>a { white-space: nowrap;overflow: hidden; color:#6e6e6e; border-bottom:1px solid #e5e5e5; border-right:3px solid #FFF; padding:11px 10px; font-size:14px; }
#sidebar > .nav>li>a:hover { border-right:3px solid #00a3e2; color:#00a3e2; }
#sidebar > .nav > li > a .fa { margin-right:10px;}
#sidebar > .nav > li > a .navrgtarrow { position:absolute; right:10px; font-size:10px; color:#999;}
#sidebar > .nav > li > ul li { list-style:disc !important;}
#sidebar > .nav > li > ul li a  { padding:3px 5px 3px 35px !important; font-size:13px; color:#756f6f;}
#sidebar > .nav > li > ul li a:hover { color:#00a3e2; background:none;}
#sidebar > .nav > li > ul li a .fa { font-size:6px; margin-right:6px; margin-top:-2px;}
#main {padding:0px;left: 0; background:#f6f6f6;  box-shadow: inset 0px 0 5px #bdbdbd; min-height:700px; transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; }
.sidebarwidth { width:20%;}
.greenbtnborder { border:1px solid #11a011; font-size:14px; border-radius:20px; display:inline-block; color:#11a011; padding:9px 20px; text-decoration:none;}
.greenbtnborder:hover { background:#11a011; color:#FFF; text-decoration:none;}
.redbtnborder { border:1px solid #e65626; font-size:14px; border-radius:20px; display:inline-block; color:#e65626; padding:9px 20px; text-decoration:none;}
.redbtnborder:hover { background:#e65626; color:#FFF; text-decoration:none;}
.logo { background: url(../../../image/logo.jpg) no-repeat #e44a16; width:100%; text-align:center; height:65px; width:225px; float:left;}
/*.row-offcanvas-left.active .logo {background: url(../../../image/gst-small-logo.jpg) center center  no-repeat #e44a16; width:90px; margin-left:-15px; }*/
.row-offcanvas-left.active #main { width:96.4%; float:right;}
.row-offcanvas-left.active #main .headertop { width:98%; float:left;}

/*---------COMMON CSS START HERE------------------------------------*/

/*-----------------------------LOGIN CSS START HERE------------------------------*/
.loginpage{background:#f0f0f0;background-size:cover;width:100%; box-sizing:border-box;float:left;height:100%;position:fixed;top:0px;bottom:0px; padding:0px 0px;}
.loginbx{background:#fff; width:50%; border-left:1px solid #d3d3d3; min-height:100%;height:auto;box-sizing:border-box; position:relative;overflow:hidden; padding:40px 70px; margin:0px;}
.loginbx .adminlogo{display:block;text-align:center;width:100%;}
.loginbx .adminlogo img { width:300px;}
.logincontainer{padding:25px 0px;background:#fff;}
.admintab{float:left;width:100%;margin:0px 0px 20px;padding:0px; text-align:center;}
.admintab li{width:45%;list-style:none;height:45px; border:1px solid #e44a16; margin:0 3px; display:inline-block; font-family: opensans_bold; color:#333; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;  -O-border-radius:30px;}
.admintab li a{display:block;text-decoration:none;color:#333;font-size:16px;padding:10px 0px 20px; text-align:center;background:none; text-transform:uppercase;}
.admintab li.active{background:#e44a16;}
.admintab li.active a{background:url(../image/redpin.jpg) no-repeat center 40px; color:#FFF;}
.loginleftcontent { width:50%; float:left;  padding:60px; box-sizing:border-box;}
.loginleftcontent  ul li {font-family: opensans_light; background:url(../../../image/dot.jpg) 0 12px no-repeat; padding:0 0 0 15px; margin:0 0 10px 0; font-weight:normal;  font-size:16px; color:#666;  }
.loginleftcontent h1 {font-family: opensans_light;  text-align:center; color:#333; font-weight:normal; font-size:40px; padding-top:30px; line-height:45px;}
.loginleftcontent h1 span { font-family: opensans_bold; font-weight:normal;}

.adminloginbx{width:100%; padding:30px; box-sizing:border-box; padding:0 50px; font-family: opensans_light; font-weight:normal; }
.adminloginbx p{font-size:17px;color:#666; padding:15px 0 20px 0; text-align:center;}
.admintxt{float:left;width:100%;position:relative;border:1px solid #e0e0e0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;  -O-border-radius:5px; color:#333;margin-bottom:20px;}
.admintxt .fa{position:absolute;color:#b7b7b7;font-size:24px;left:20px;top:13px;}
.admintxt:hover { border:1px solid #e44a16;}
.rememberbx{width:100%;float:left;margin-bottom:5px;}
.rememberbx input[type=checkbox]{float:left;margin-right:10px;}
.rememberbx label{color:#333;margin-bottom:15px; font-size:13px;}
.rememberbx .forgetpass{float:right;text-decoration:none;color:#333; font-size:13px;}
.rememberbx .forgetpass:hover{text-decoration:underline; color:#e44a16;}
.btnsubmit{width:100%;text-align:center;color:#e44a16;background:none;border:1px solid #e44a16;font-size:20px;padding:10px 0px; cursor:pointer;transition:all 0.5s ease-in-out;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out; margin-top:15px; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; -o-border-radius:30px; font-family: opensans_light; font-weight:normal;}
.btnsubmit:hover{background:#e44a16; color:#FFF;}
.registercontent { display: none;}
.registercontent .admintxt { width:47%; float:left; margin:0 5px 15px 5px;}
.admintxt input[type=text],.admintxt input[type=password]{width:360px;background:#fff; font-family: opensans_light;  color:#333;font-size:17px;border:none;padding:10px 0px 10px 55px; background:none;}
.registercontent .admintxt input[type="text"], .registercontent .admintxt input[type="password"] { width:75%;}
.admintxt select {width:360px;background:#fff; font-family: opensans_light;  color:#333;font-size:17px;border:none;padding:10px 0px 10px 55px; background:none;}
.registercontent .admintxt select { width:98%;}

/*-----------------------------LOGIN CSS END HERE-----------------------------------*/

/*------------------------------------HEARDER CSS START HRE-------------------------------*/
.togglemenu { position:absolute; z-index:9999; top:20px; left:20px;}
.adminpanelbody{float:left;width:100%;}
.headertop{background:#FFF; width:100%; float:left; padding:0px 20px 0px 0px; position:fixed; top:0px; z-index:99999;}
.topnav{float:right;width:auto; margin-top:15px;}
.topnav ul{width:auto;margin:10px 0px 0px;padding:0px;float:left;}
.topnav ul li{float:left;color:#6d6d6d;list-style:none;padding:0px 15px; font-size:12px; border-right:1px solid #e5e5e5; height:25px;}
.topnav ul li .fa{margin-right:5px;font-size:20px;position:relative;top:3px; color:#6d6d6d;}
.topnav ul li a{color:#6d6d6d;text-decoration:none; font-size:12px; }
.topnav ul li a:hover{text-decoration:underline;}
.topnav ul.topstripbottomnav{margin-bottom:15px;}
.starred { font-size:11px; color:#cc0000; }
.greysmalltxt { font-size:12px; color:#666;}
.messagecircle { width:19px; height:18px; padding-top:1px; top:12px; z-index:222; font-size:11px; font-family: opensans_bold; border-radius:50% 50%; -webkit-border-radius:50% 50%; -moz-border-radius:50% 50%;   display:inline-block; position:absolute; text-align:center; margin:5px 0 0 10px; color:#FFF; background:#00a4e4;}
.topnav ul li .iconphone { width:27px; height:28px; display:inline-block; background-position:left top; background:url(../../../image/sprite.jpg) -12px -4px; }
.topnav ul li .iconchat { width:37px; height:31px; display:inline-block; background-position:left top; background:url(../../../image/sprite.jpg) -58px -5px; }
.topnav ul li .tollfreenumber { width:auto; display:inline-block; vertical-align:top;}
.topnav ul li .tollfreenumber span { font-family: opensans_bold; font-size:15px; color:#4c4c4c;}
.btnlogout { border:2px solid #e44a16; color:#e44a16; font-size:15px; padding:7px 15px; border-radius:20px; color:#e44a16 !important; text-decoration:none;}
.btnlogout .fa { color:#e44a16 !important;}
.btnlogout:hover { background:#e44a16; color:#FFF !important; text-decoration:none;}
.btnlogout:hover .fa {color:#FFF !important;}
.userinfo { margin-top:-14px; font-family: opensans_bold; font-size:13px;}
.userinfo img { margin-right:5px; border-radius:50% 50%; min-height:40px; min-width:45px;  max-height:40px; max-width:45px;}
.hidemenu a { font-size:13px; color:#00a3e2 !important;}
.hidemenu a .fa { font-size:25px}
.mobilemenu, .mobileheader { display:none;}
/*------------------------------------HEARDER CSS END HRE-------------------------------*/

/*--------------------------------DASH BOARD CSS START HERE------------------------------------*/

.dashbtn { width:45%; padding:15px 0px; float:left;  text-decoration:none; font-size:15px; color:#FFF; font-family: opensans_bold; font-weight:normal; margin:0 15px 15px 0; text-transform:uppercase; height:115px; }
.dashleftbox { text-align:left; padding:25px; border-radius:5px;  border:1px solid #e0e0e0; min-height:370px;}
.dashleftbox ul { margin:0px; padding:0px;}
.dashleftbox ul li { width:100%; border-bottom:1px solid #e5e5e5; padding:10px 0px; height:40px; position:relative; font-size:13px;  }
.dashleftbox ul li span { float:right; margin-left:5px; background:#e9e9e9; border:1px solid #e9e9e9; padding:3px 15px; font-size:13px; border-radius:3px; text-transform:uppercase; font-size:11px; font-weight:bold;}
.dashleftbox ul li span a {text-decoration:none; color:#756f6f;}
.dashleftbox ul li span:hover { background:#FFF; border:1px solid #e44a16;}
.dashleftbox ul li span:hover a { color:#e44a16;}
.dashleftbox .boxheading{ font-size:16px; font-family: opensans_bold; text-align:left; padding:0 0 15px 0; color:#756f6f;    }
.title { font-size:30px; color:#333; font-family: opensans_light;  margin:0 0 40px 0; padding:0 0 15px 0; }
.formcontainer { margin-top:0px;}
/*.formcontainer .heading{position:fixed; top:70px; z-index:7777;}*/
.title span { color:#643c86; font-family: open_sans; font-weight:normal;}
.border { width:100%; display:block; background:url(../../../image/border.jpg) repeat-x; height:8px;  }
.heading h1 { font-size:24px; color:#333; padding:40px 0 20px 0; font-family: opensans_light; margin:-10px 0 0 0;}
.listcontent { min-height:200px;}
.padrgtnone { padding-right:0px;}
.dash-rightnav { background:#dddddd;   box-shadow: inset 4px 0 5px #bdbdbd; padding-right:15px; padding-top:30px; padding-bottom:30px; position:fixed; right:0px; min-height:100%; width:15%; }
.rgtmenu { background:#FFF; width:100%; height:125px; border-radius:5px; box-shadow:0 0 8px #c8c8c8; padding-top:20px; display:inline-block; text-align:center; margin:10px 0px; color:#756f6f; text-transform:uppercase; line-height:35px; font-weight:bold; font-size:13px; }
.rgtmenu:hover { background:#e9e9e9; text-decoration:none; color:#333;}

/*=====================manis tiwari css start=========================*/
.dashleftbox .listcontent { min-height:140px;}
.dashleftbox .listcontent .inovicelefttable{margin-top:30px;}
.lightpink { background-color: #f2dede; color:#a94442; border:1px solid #ebccd1;}
.lightgreen { background:#dff0d8; color:#3c763d; border:1px solid #d6e9c6;text-align:center;}
.lightblue { background:#d9edf7; color:#31708f; border:1px solid #bce8f1; }
.lightyellowbg { background:#fcf8e3; color:#8a6d5b; border:1px solid #faebcc;}
.pinkbg { background-color: #f2dede; color:#a94442; border:1px solid #ebccd1;}
.perpalbg { background:#e6e6f9; color:#5e5e9c; border:1px solid #c2c2f1;}
.dashtopcol { min-height:100px; border-radius:5px; text-align:center; padding:20px 0 0 0; margin:0px 0 20px 0;}
.dashtopcol .boxpricetxt {font-family: opensans_bold; font-size:15px;}
.dashtopbox .col-md-4 { padding-left:5px; padding-right:5px;}
.txtyear { font-size:13px; color:#000;  }
/*======================manish tiwari css over===========================*/

/*--------------------------------DASH BOARD CSS START HERE------------------------------------*/

/*------------------------FORM CSS START HERE--------------------------------------------*/
.formboxcontainer { padding:30px; width:100%; display:block; float:left; margin:1px 0 0 0}
.formboxcontainer .form-group label { font-family: opensans_light; font-size:13px; letter-spacing:0px; color:#808080; }
.greyborder { border:1px solid #e5e5e5; border-radius:5px; width:100%; float:left; padding:15px;} 
.formtitle { padding-bottom:15px; color:#333; padding-top:15px; font-family: opensans_bold;}
.padleftnone { padding-left:0px;}
.tablecontent tr th { font-size:13px; font-family: opensans_bold; font-weight:normal;  }
.tablecontent  > tbody > tr > th { border-right:1px solid #ddd !important;}
.inptxt { color:#808080;font-size:13px; border:1px solid #c1c1c1; padding:4px 10px; border-radius:4px;}
.inptxt:focus { border:1px solid #66afe9;}
.inptxt[readonly]{background-color:#e2e2e2;}
.totalamount { font-family: opensans_bold; font-size:15px; color:#000; }
.totalamount span {font-family: open_sans; font-size:12px;}
.invoicetotalprice {font-family: opensans_bold !important; font-size:17px !important;}
.totalprice{ font-family: opensans_bold;  color:#000; font-size:17px; display:inline-block; margin-left:10px;}
.textsmall { font-size:14px;}
.pricinput { border:none !important;}
.pricinput { display:inline-block; width:75% !important; border:none !important;  }
.pricinput:focus {border:none !important;}
.icon .fa { font-size:17px;}
.addicon { color:#1d9b1a;}
.deleteicon { color:#cc0000;}
.lightyellow { background:#ffffe0;}
.tooltip2 {position: relative;display: inline-block;}
.tooltip2 .tooltiptext { visibility: hidden; width: 90px; background-color: #000;color: #fff;text-align: center;border-radius: 6px; padding: 5px 0;position: absolute;z-index: 1; bottom: 125%;left: 50%;margin-left: -45px;opacity: 0;transition: opacity 1s;font-size:12px;}
.tooltip2 .tooltiptext::after { content: ""; position: absolute;top: 100%;left: 50%; margin-left: -5px;border-width: 5px;border-style: solid; border-color: #000 transparent transparent transparent;}
.tooltip2:hover .tooltiptext { visibility: visible;opacity: 1;}
.btngrey { background:#f0f0f0; border:1px solid #ddd; font-family: opensans_light; color:#333; font-size:14px;}
.btngrey:hover {border:1px solid #ddd; background:#f6f6f6; }
.btnwidth { min-width:90px;}
.fixedfooter { width:100%; position:fixed; bottom:0px; padding:15px 0px; background:#FFF; }
.invoiceheaderfixed { background:#f0f0f0; width:100%; display:block; float:left; padding:10px 0px; position:absolute; left:0px; top:0px;}
.inovicelefttable { margin-top:60px;}
.inovicelefttable tr td { color:#777; padding:15px 10px; border-bottom:1px solid #e5e5e5; font-size:13px}
.inovicelefttable tr:hover { background:#f0f9ff;}
.greylinktext a {color:#777;}
.greyborder { border:1px solid #ccc; padding:7px 15px !important; color:#666; font-size:14px}
.iconmenu { border:1px solid #ccc; padding:7px 14px !important; color:#666; margin-left:10px}
.dropdown-menu > li > a { font-size:13px; color:#666;}
.inovicelefttable tr td .amount { font-family: opensans_bold; }
.inovicergttop { padding:30px 20px;}
.iconlist { background:#f0f0f0; border-radius:3px; float:left; width:auto; border:1px solid #e5e5e5;  }
.iconlist li { float:left;}
.iconlist li a { float:left; padding:7px 15px; font-size:14px; color:#777; border-right:1px solid #e5e5e5; }
.list-primary .name a  { color:#333; font-family: opensans_bold;}
.invoiceprintbox { padding:10px 30px 30px 30px; margin:40px 0 0 20px;}
.invoice-printable tr td { font-size:13px; padding:2px;}
.invoice-printable tr td .invoice-title { color:#333; font-size:30px;}
.invoice-innertable tr td { padding:5px;}
.companyname, .totaltxt { font-family: opensans_bold;}
.clientname { font-family: opensans_bold; color:#428bca; font-size:13px;}
.invoice-itemtable tr th { background:#333; font-family: opensans_bold; font-weight:normal; padding:8px; color:#FFF; font-size:12px; color:#f0f0f0;}
.invoice-itemtable tr td { color:#333; border-bottom:1px solid #e5e5e5; padding:8px 8px; font-size:12px}
.invoice-itemtable tr td .fa { font-weight:normal;}
.borbotnone { border-bottom:none !important; padding:3px 8px !important;}
.totaltxt { font-size:13px !important;}
.ribbon { background:url(../../../image/ribbon.png) no-repeat; position:absolute; top:-5px; left:-5px; width:75px; height:75px;}
.ribbon span { color:#FFF; transform:rotate(-45deg); -ms-transform:rotate(-45deg);}


/*.greyheading { background:#F0F0F0; font-family: opensans_bold; font-size:13px; font-weight:normal;}*/
.footer{float:right;width:100%;text-align:center;font-size:12px;padding:8px 0 0px 0px; height:40px;color:#666; font-family: opensans_bold; position:fixed; left:0px; right:0px;  bottom:0px; background:#f6f6f6; }
.dasfooter{float:right;width:71%;text-align:center;font-size:12px;padding:8px 0 0px 0px; height:40px;color:#666; font-family: opensans_bold; position:fixed; left:0px; right:0px;  bottom:0px; background:#f6f6f6; margin:0 auto; }
.fixed-left-col { position:fixed; width:28%; float:left; border-right:1px solid #ccc; min-height:500px; }
.invoicergtcol { float:right; width:64%; background:#FFF; min-height:800px;  }



@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.black_overlay {background-color: black;height: 100%;left: 0;opacity: 0.7;overflow: hidden;position: fixed;top: 0;width: 100%;z-index: 888888888;}
.popupcontainer { width: 500px; position: absolute;right: 0; left:0px; margin: 0 auto;  z-index: 2147483647;}
.popupcontainer  .popupform { background: #fff;box-shadow: 0 0 10px #000;left: 0; padding: 10px; padding:30px; position:relative; top:150px; height:200px;}
.popupcontainer  .popupform .formcol { width:100%; float:none;}
.popupcontainer  .popupform  .closebtn, .formpopup  .popupform .closebtn  { position:absolute; right:10px; top:10px; cursor:pointer;}
.popupcontainer  .popupform h4 { color:#14469e; font-family: roboto-regular; text-align:center; font-size:24px; letter-spacing:-1px; border-bottom:1px solid #ccc; padding:0 0 20px 0; margin:0 0 20px 0; }
.dashtab li a { height:100px; text-transform:uppercase;}
.wid70  { width:70%; margin:0 auto;}
.wid90 { width:90%; margin:0 auto;}

/*--------------------------Return Page Css start here----------------------------------*/
.returnbox { background:#FFF; width:100%; display:block; box-shadow:0 0 10px #d2d2d2; border-radius:3px; padding:20px 25px; color:#333; float:left;}
.returnbox .boxheading { font-family: opensans_bold;}
.btnimport { background:#afafaf; color:#FFF; font-size:12px;  font-family: opensans_bold; padding:5px 10px;}
.btnimport:hover { background:#e44a16; color:#FFF;}
.btnbrowse { width:100px; height:35px; position:absolute; opacity:0; right:0px; cursor:pointer; }
.bxselect { background:none; border:1px solid #ccc; color:#333; font-size:13px; margin-top:10px; }
.btnstart { width:100%; padding-top:8px; padding-bottom:8px; margin-top:20px auto 0 auto; background:#FFF; font-family: opensans_bold;  color:#e44a16; border:1px solid #e44a16; }
.btnstart:hover { background:#e44a16; color:#FFF; border:1px solid #e44a16;}
.hr--text { width: 100%;text-align: center; border-bottom: 1px solid #ddd; line-height: .1em;margin: 30px 0 20px; font-size:13px; font-family: opensans_bold;}
.hr--text span {background: #f6f6f6;padding: 0 10px; color: #8b8c8c;}
.rowsteps { margin-top:10px;}
.rowsteps .step-col.actionable .statusbullet::after { border: 1px solid #31af6f;height: 11px; width: 11px; border-radius: 11px;background: #fff;left: -10px; top: 4px; z-index: 2;}
.rowsteps .step-col .statusbullet::after, .rowsteps .step-col .statusbullet::before { display: block; position: absolute;content: "";}
.rowsteps .step-col.actionable .statusbullet::before { background: #31af6f;height: 5px;width: 5px; border-radius: 5px;top: 7px;left: -7px; z-index: 3;}
.rowsteps .step-col .statusbullet::before { background: #ddd; height: 7px;width: 7px;border-radius: 7px;left: -8px; top: 6px;}
.rowsteps .step-col .statusbullet { position: relative; margin-right: 1rem;}
.rowsteps .step-col {color: #363636; }
.rowsteps .step-col.unactive .statusbullet::after { border: 1px solid #c8c8c8;height: 11px; width: 11px; border-radius: 11px;background: #fff;left: -10px; top: 4px; z-index: 2;}
.rowsteps .step-col.unactive .statusbullet::before { background: #c8c8c8;height: 5px;width: 5px; border-radius: 5px;top: 7px;left: -7px; z-index: 3;}
.txtorange { color:#1ea243;}
.btn-orange { background:#e44a16; font-family: opensans_bold; color:#FFF; font-size:14px; text-transform:uppercase; margin-top:10px; }
.btn-orange:hover {background:#f25a27; color:#FFF; }

.txtinovice { }
.gstr-step-row { width:100%; float:left; display:block; margin-bottom:15px }
.gstr-box { border-radius:5px; border:1px solid #e5e5e5; font-size:13px; padding-top:15px; padding-bottom:15px; margin-bottom:15px;}
/*.lightyellow { background:#ffefbf; border-radius:20px; font-family: opensans_bold; font-weight:normal; width:auto; padding:7px 25px; float:left; color:#000;}*/
.lightyellow { background:#ffefbf;  font-family: opensans_bold; font-weight:normal;  padding:7px 25px;  color:#000;}
.lftheading { font-size:13px; background:#fdede8; color:#333; border-bottom:1px solid #f4d4ca;}
.bordernone tr td { border-top:none !important;}
.tablescroll { width:100%; overflow-x:scroll; width:100%; display:block; }
.gstrrgtbox {font-family: opensans_bold; color:#333; }
.gstrrgtbox span { font-family: open_sans;}
.rgtdatetxt { color:#8b8b8b; font-family: opensans_bold; font-size:13px; margin-bottom:15px; }
.dateselectbox { width:150px; font-size:13px; background:#fff; border:1px solid #ccc; padding:3px; border-radius:3px; margin-top:30px; }
.tablecontent2 tr th { font-size:13px; font-family: opensans_bold; font-weight:normal; background:#f0f0f0 !important;  }
.tablistnav  { border-bottom:1px solid #ccc; margin-bottom:40px; margin-top:20px; display:block; width:100%;}
.tablistnav ul li a {font-family: opensans_bold; font-weight:normal; float:left; padding:15px 35px; color:#333; }
.tablistnav ul li a.active { color:#00a4e4; border-bottom:4px solid #00a4e4;} 
.tablistnav ul li a:first-child { padding-left:0px;}
.btngreen { background:#39b969; padding:7px 15px; color:#FFF; min-width:150px; font-family: opensans_bold; color:#FFF; font-size:13px;}
.breadcrumb-nav a { font-size:13px; margin:0px 5px; display:inline-block; color:#666; }
.breadcrumb-nav { margin-top:35px;}
.breadcrumb-nav .fa { font-size:18px;}
.breadcrumb-nav .active, .breadcrumb-nav a:hover{font-family: opensans_bold; color:#e44a16; text-decoration:none;}

/*#sidebar .left-submenu { height:150px !important; overflow-y: scroll !important; float:left; width:100%; }*/
/*---------------------------PRICE PLAN BOX START HERE-------------------------------------------*/
.ui-tabs-panel .col-md-4:nth-child(1) .pricecol { border:1px solid #41cac0;}
.ui-tabs-panel .col-md-4:nth-child(2) .pricecol { border:1px solid #d2cb80;}
.ui-tabs-panel .col-md-4:nth-child(3) .pricecol { border:1px solid #9699e4;}
.ui-tabs-panel .col-md-4:nth-child(1) .header { background:#41cac0;}
.ui-tabs-panel .col-md-4:nth-child(2) .header { background:#d2cb80;}
.ui-tabs-panel .col-md-4:nth-child(3) .header { background:#9699e4;}
.pricecol { margin:40px 0px;}
.pricecol .header { color:#fff; font-size:23px; padding:20px 0px; line-height:35px;  font-family: opensans_light; border-bottom:none;}
.pricecol .planprice { color:#FFF; font-size:35px; font-family: opensans_bold; border-bottom:none; }
.pricecol .pricelist li { color:#333; padding:10px 0; border-bottom:1px solid #efefef;  font-family: opensans_light; font-size:17px;}
.pricecol .pricelist { padding:20px;}
.pricecol .pricelist li span { color:#999; font-size:14px; font-family: opensans_light; width:120px; }
.pricecol .pricelist li.last { border-bottom:none;} 
.pricecol .btnsubcribe { color:#FFF; background:#aaaaaa; text-transform:uppercase; font-weight:normal; font-family: opensans_bold; letter-spacing:-1px; width:100%; padding:10px 10px; display:inline-block;  font-size:16px; border-radius:25px;  }
.pricecol .btnsubcribe:hover { background:#e44a16; color:#FFF; text-decoration:none; }
.pricecol .btnmargin { margin:0px 20px 20px 20px;}
.bonanzaplan .smallplanbox { padding:20px; margin-top:40px;} 
.bonanzaplan .smallplanbox .planprice { font-size:42px;}
.bonanzaplan .smallplanbox .pricecol  { margin:15px 0px;} 
.bonanzaplan .smallplanbox .plancaption { font-size:21px; line-height:25px; min-height:70px; }
.bonanzaplan .smallplancol:nth-child(1) .btnsubcribe  { background:#41cac0; } 
.bonanzaplan .smallplancol:nth-child(2) .btnsubcribe  { background:#9699e4; } 
.bonanzaplan .smallplancol:nth-child(1) .smallplanbox { border:1px solid #41cac0; background:#d9f9f7;}
.bonanzaplan .smallplancol:nth-child(2) .smallplanbox { border:1px solid #9699e4; background:#e8e9fd;}
.bonanzaplan .smallplancol:nth-child(1) .smallplanbox .planprice { color:#41cac0;}
.bonanzaplan .smallplancol:nth-child(2) .smallplanbox .planprice { color:#9699e4;}
.bonanzaplan .smallplanbox .plantxt { color:#333; font-size:23px; padding:20px 0px; line-height:35px;  font-family: opensans_light;}
/*-------------------------/*---------------------------PRICE PLAN BOX END HERE-------------------------------------------*/
.tab { padding-left:0px; padding-right:0px; margin-bottom:20px; border-bottom:1px solid #e5e5e5;}
.tab a { 
width: 18.9%;
    text-align: center;
    color: #000;
    padding: 0px 0 20px 0px;
    display: inline-block; font-family: opensans_bold; font-size:14px;
}
.tab a.active { background:#FFF; color:#e44a16; font-family: opensans_bold; border-bottom:3px solid #e44a16;  }
.invoice-types__content label { width:auto; margin-right:10px; font-family: opensans_bold; font-size:14px; color:#333;}
.invoice-types__content label input { margin-right:10px;}
.invoice-filter-table tr th { color:#333; font-family: opensans_bold; background:#e5e5e5; }
.dasboardbox { width:19%; float:left; margin-right:10px;}
.dasboardbox.last { margin-right:0px;}
.martop20 { margin-top:25px;}
.filtercol { margin-top:20px; margin-bottom:0px}

/*----------------------RECANCELLATION CSS START HERE--------------------------*/
.boldfont {font-family: opensans_bold;}
.table-date-txt {font-family: opensans_light; font-size:12px; font-style:italic}
.col-text { min-height:110px; border-radius:5px; text-align:center; padding:10px; margin:0px 0 20px 0;}
.col-text .boxpricetxt {font-family: opensans_bold; font-size:15px;}
.boxtextheading {  font-family: opensans_bold; text-align:center;  font-size:14px;  color:#333; }
.txtnumber span {  font-size:12px; text-transform:capitalize; font-family: opensans_light; color:#000;}
.txtnumber { font-size:22px; font-family: opensans_bold; line-height:24px; }
.bordergreen { border:1px solid #3c763d;}
.bordergreen:hover { background:#3c763d; color:#FFF;}
.borderblue { border:1px solid #31708f;}
.borderblue:hover { background:#31708f; color:#FFF;}
.borderbrown { border:1px solid #8a6d5b;}
.borderbrown:hover { background:#8a6d5b; color:#FFF;}
.borderred { border:1px solid #a94442;}
.borderred:hover { background:#a94442; color:#FFF;}
.col-text .btn { float:left; margin-top:0px; font-size:11px; font-family: opensans_bold; text-transform:none; padding:5px 10px;}
.reconciliation .col-md-3 { padding-left:7px; padding-right:7px;}
.redtxt {color:#a94442;}
.redtxt span { color:#a94442;}
.btnaccepted { border-radius:20px;  color:#FFF; font-size:13px; margin:0px; font-family: opensans_bold; padding:5px 20px !important; height:auto; min-width:auto; background:#39b969; border:1px solid #39b969; margin-top:7px;}
.btnaccepted:hover {border:1px solid #39b969; background:#FFF; color:#39b969; text-decoration:none;}
.tablecontent { border-right:1px solid #ddd; border-left:1px solid #ddd; border-bottom:1px solid #ddd;} 
.selectbox { border-radius:5px; border:1px solid #ddd; padding:5px; font-size:13px; }
.tableresponsive { width:100%; float:left; display:block;}

  #noti_Container {
        position:relative;
    }
       
    /* A CIRCLE LIKE BUTTON IN THE TOP MENU. */
    #noti_Button {
        width:22px;
        height:22px;
        line-height:22px;
        border-radius:50%;
        -moz-border-radius:50%; 
        -webkit-border-radius:50%;
     
        margin:-21px 10px 0 0px;
        cursor:pointer;
		position:relative; z-index:7777;
    }
        
    /* THE POPULAR RED NOTIFICATIONS COUNTER. */
    #noti_Counter {
        display:block;
        position:absolute;
       background:#00a4e4;
	   color:#FFF;  font-size:11px; font-family: opensans_bold; text-align:center;
		width:19px; height:18px;
        margin:-3px 0 0 12px;
       border-radius:50% 50%; -webkit-border-radius:50% 50%; -moz-border-radius:50% 50%; 
        z-index:1;
    }
        
    /* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
    #notifications {
        display:none;
        width:250px;
        position:absolute;
        top:37px;
        left:0;
        background:#FFF;
		border-radius:5px;
        border:solid 1px rgba(100, 100, 100, .20);
        -webkit-box-shadow:0 3px 4px rgba(0, 0, 0, .20);
        z-index: 0;
		padding:15px;
    }
	 #notifications .txtnotfication { color:#333; font-size:14px; font-family: opensans_bold; margin-bottom:0px; margin-top:20px;  }
    /* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
    #notifications:before {         
        content: '';
        display:block;
        width:0;
        height:0;
        color:transparent;
        border:10px solid #CCC;
        border-color:transparent transparent #FFF;
        margin-top:-20px;
        margin-left:10px;
    }
        
   
    .seeAll {
        background:#F6F7F8;
        padding:8px;
        font-size:12px;
        font-weight:bold;
        border-top:solid 1px rgba(100, 100, 100, .30);
        text-align:center;
    }
    .seeAll a {
        color:#3b5998;
    }
    .seeAll a:hover {
        background:#F6F7F8;
        color:#3b5998;
        text-decoration:underline;
    }
.noti-ul { width:100%; float:left; display:block}
.noti-ul li { border-bottom:1px solid #e5e5e5;  border-right:none !important; width:100%; display:block; float:left; padding:8px 0px !important; height:auto !important;}
.btnseeall {  width:100%; display: inline-block;}
.btnseeall a {border: 1px solid #00a3e2;
font-size: 14px;
border-radius: 20px;
display: inline-block;
color: #00a3e2 !important;
padding: 5px 20px;
font-family: opensans_bold;
 width:100%; text-align:center; margin-top:10px; text-decoration:none;
}
.btnseeall a:hover { background:#00a3e2; color:#FFF !important;}	
.arrow-up {
 background:url(../../../image/arrow-top.png) no-repeat; margin-top:-24px; width:18px; height:9px;
}
.btn-blue { background:#00a3e2; color:#FFF;}
@media only screen and (max-width:1200px)
{
.rgtmenu { width:100%; text-align:center}
.dash-rightnav { padding-right:15px; }
.loginbx { padding:30px;}
.adminloginbx { padding:0px;}
.loginleftcontent h1 { font-size:30px;}
}

@media only screen and (max-width:992px)
{

#sidebar { display:none; position:relative;} 
#sidebar .hidden-xs { display:inline-block !important; }
.mobilemenu a { background:#e44a16; width:40px; height:40px; text-align:center; font-size:20px; color:#FFF; padding:5px; z-index:9999; position:absolute; left:0px; top:14px; }
.mobilemenu, .mobileheader { display:block;} 
.headertop { display:none;}
.mobileheader { width:100%; background:#FFF; width:100%; float:left; padding:0px 20px 0px 0px; position:relative; z-index:7777; }
.moblogo { background:#e44a16; padding:5px 0px;}
.userinfo li ul { display:none;}
.userinfo { text-align:right; margin-top:5px;}
.userinfo  a { color:#756f6f; font-size:13px;}
.userinfo li:hover ul  { display:block; position:absolute; right:0px; top:50px; background:#FFF; padding:15px ; border-radius:5px; width:200px;}
.userinfo li:hover ul li a { border-bottom:1px solid #e5e5e5; width:100%; display:block; text-align:left; font-size:12px; padding:7px 0px; position:relative;}
.userinfo li:hover ul li a .fa { margin-right:10px; font-size:13px;}
.userinfo li:hover ul li a:hover { text-decoration:none; color:#e44a16;}
.infocount { width:19px; height:18px; padding-top:1px;  z-index:222; font-size:11px; font-family: opensans_bold; border-radius:50% 50%;   display:inline-block; position:absolute; top:0px; right:10px; text-align:center; margin:5px 0 0 10px; color:#FFF; background:#00a4e4;}
.userinfo .arrowup { font-size:25px; position:absolute; top:-22px; right:0px; left:0px; width:15px; margin:0 auto;}
.userinfo .arrowup .fa { color:#FFF; text-shadow:0 0 7px #dbdbdb;}
.moblogo  img { margin-left:50px; }	
.mobuserinfo { float:right;}
#main { width:100%; min-height:auto;} 
.mobileactive #main { width:74% !important;} 
.logo { display:none;}
.footer  { background:#f6f6f6;}
.mobdisplaynone { display:none;}
.invoiceheaderfixed { position:relative;}
.mobinvoicecol { padding:0px;}
.fixed-left-col, .invoicergtcol  { position:relative; width:100%; border:none;}
.formcontainer .heading { position:relative;}
.formcontainer { margin-top:20px;}
.heading h1 { padding-top:20px;}
.formcontainer .heading { top:0px;}
.row-offcanvas { margin-top:57px;}
.bluebox { margin-bottom:15px;}
}

@media only screen and (max-width:767px)
{

.padrgtnone { padding-right:15px;}    
#sidebar .visible-xs {display:inline !important;}
.row-offcanvas {position: relative; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;}
.row-offcanvas-left.active {left: 45%;}
.row-offcanvas-left.active .sidebar-offcanvas { left: -45%;position: absolute;top: 0;width: 45%; }
.moblogo { text-align:left; width:230px;}	
.moblogo  img { margin-left:40px; }	
.mobileactive #main { width:50% !important;}
.loginleftcontent {display:none;}
.loginbx { width:100%; min-height:auto;}
.formcontainer { margin-top:20px;}
.modpadlr { padding-left:0px; padding-right:0px}
.registercontent .admintxt { width:100%; }
.dasboardbox { width:100%; margin:0 0px 10px 0;}
.formboxcontainer { padding:15px;}
	
}
@media only screen and (max-width:480px)
{
	.mobmenu img { width:30px;}
	.topnav ul li { height:auto;}
	.adminformbx .adminformlist, .formcol{margin:0px;float:left;width:100%;height:auto;margin-bottom:10px; min-height:auto;}
	.admincontainer h1{font-size:24px;}	
	.headingborder{display:none;}
	.admincontainer h2{font-size:16px; }
	.admincontainer{width:86%;margin:0px 3%;padding:40px 4%;}
	.sidemenu{top:66px;}
	.loginbx .adminlogo img { width:250px;}
	.loginpage h1{font-size:24px;margin:30px 0px;}
	.admintxt input[type="text"], .admintxt input[type="password"]{max-width:83%;}
	.adminfooter{margin:40px 0px 30px;}
	.formcontainer { padding:15px;}
	.dashbtn { width:100%; margin:0 0 15px 0;} 
	.addmorebtn { width:100%; float:none; display:block; text-align:center; margin:0 0 10px 0;}
	.invoicebtn .btn { width:100%; display:block; box-sizing:border-box; margin:0 0 10px 0;}
	.mobileheader { height:50px;}
	.moblogo  { width:50%;}
	.moblogo img { width:150px;}
	.mobilemenu a { width:auto; height:auto; top:7px; left:10px;}
	.mobpadlr { padding-left:0px; padding-right:0px;}	
	.dashleftbox { margin-bottom:15px;}
	.userinfo li:hover ul { top:40px;}
	.gstr-box { font-size:12px}
}

@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
	margin-top:66px;
  }

  .row-offcanvas-left.active {
    left: 2%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: 0%;
    position: absolute;
    top: 10%;
    width: 6%;
    text-align: center;
    min-width:42px;
	 transition: all 0.25s ease-out;
  }
 .row-offcanvas-left.active .sidebar-offcanvas .fa { font-size:17px;}  
  #main {
    left: 0;
	float:right;
  }
 
}
 .greyheading
         {
             float: left;
    width: 100%;
    font-size: 15px;
    margin: 15px 0 15px 0;
    background: #adadad;
    padding: 7px 10px;
    color: #FFF;
    font-family: opensans_bold;
    font-weight: normal;
         }
         .admincontainer h1
         {
             color: #4a2f60;
    float: left;
    width: 100%;
    font-size: 24px;
    margin: 0px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    font-family: open_sans;
    font-weight: bold;
    font-weight: normal;
         }
    
@media only screen and (max-width:380px)
{
.moblogo img { width:100px; margin-top:8px; margin-left:40px;}
.userimg { width:30px;}	
.moblogo { height:50px; text-align:left;}
.userinfo a { font-size:12px;}
.userinfo { margin-top:11px;}
.rgtmenu { width:100%; text-align:center}
.userinfo li:hover ul  { width:100%;}

	 }
	 .table-scroll { width:100%; overflow-x:scroll;}
	 .addnew
	 {
		 float: right;
   
	
	 }
	.height80
      {
          height:80px;
      }
	  .err {
	font-size: 11px;
    color: #f00;
    position: absolute;
    right: 0px;
}
.scroll-menu
{
	overflow-y:scroll; 
	height:150px; 
	width:100%;
	
}
